* {
  margin: 0;
  padding: 0;
}

html, body, #container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.side_panel {
  width: 20%;
  height: 100%;
  overflow: auto;
}

#img_side_panel {
  background: midnightblue;
}

#control_side_panel {
  background: black;
  color: white;
}

#canvas_container {
  float: left;
  width: 60%;
  height: 100%; 
  background: pink;
}

#canvas {
  background: red;
}

img.selected {
  background: rgba(255,0,0, 0.5);
}
